<section id="{{ sect.name }}" class="section-1 highlights image-right">
	<div class="container">
		<div class="row">
			<div class="gallery col-12 col-md-6">
				<a href="#">
					<img src="assets/images/about-av.jpg" class="fit-image" alt="aviral">
				</a>
			</div>
			<div class="col-12 col-md-6 pl-md-5 align-self-center text-center text-md-left">
				<div class="row intro">
					<div class="col-12 p-0">
						<h2 class="super effect-static-text">{{ sect.title }}</h2>
						<p>{{ sect.description }}</p>
					</div>
					<div class="d-sm-inline-flex mt-3">
						<a href="#contact" data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor ml-auto mr-auto mr-md-0 mt-4 mt-sm-0 btn primary-button">Download My RESUME</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>