<section id="{{ sect.name }}" class="section-1 highlights image-left">
	<div class="container">
		<div class="row">
			<div class="gallery col-12 col-md-6">
				<a data-poster="assets/images/about-12.jpg" href="https://www.youtube.com/watch?v=7e90gBu4pas">
					<i class="play-video icon-control-play"></i>
					<div class="mask-radius"></div>
					<img src="assets/images/about-12.jpg" class="fit-image" alt="Institutional">
				</a>
			</div>
			<div class="col-12 col-md-6 pl-md-5 align-self-center text-center text-md-left">
				<div class="row intro">
					<div class="col-12 p-0">
						<h2 class="super effect-static-text">{{ sect.title }}</h2>
						<p>{{ sect.description }}</p>
					</div>
				</div>
				<div class="row items">
					<div class="col-12 p-0">
						<div class="row item">
							<div class="col-12 col-md-2 align-self-center">
								<i class="icon icon-trophy"></i>
							</div>
							<div class="col-12 col-md-9 align-self-center">
								<h4>Tradition</h4>
								<p>We are excellence in developing web solutions for companies.</p>
							</div>
						</div>
						<div class="row item">
							<div class="col-12 col-md-2 align-self-center">
								<i class="icon icon-diamond"></i>
							</div>
							<div class="col-12 col-md-9 align-self-center">
								<h4>Innovation</h4>
								<p>We seek to build something that changes people's lives.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>