<section id="{{ sect.name }}" class="section-7 even carousel custom featured">
	<div class="overflow-holder">
		<div class="container">
			<div class="row text-center intro">
				<div class="col-12">
					<h2 class="super effect-static-text">{{ sect.title }}</h2>
					<p class="text-max-800">Our customers are satisfied with the work we do. The greatest gratification is to receive recognition for what we have built. This motivates us to improve even more.</p>
				</div>
			</div>
			<div class="swiper-container mid-slider items">
				<div class="swiper-wrapper">
					<div class="swiper-slide slide-center text-center item">
						<div class="row card">
							<div class="col-12">
								<img src="assets/images/team-1.jpg" alt="Adams Baker" class="person">
								<h4>Adams Baker</h4>
								<p>My website looks amazing with the Leverage Theme.</p>
								<ul class="navbar-nav social share-list ml-auto">
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide-center text-center item">
						<div class="row card">
							<div class="col-12">
								<img src="assets/images/team-2.jpg" alt="Mary Evans" class="person">
								<h4>Mary Evans</h4>
								<p>This company created an exclusive form. Fantastic.</p>
								<ul class="navbar-nav social share-list ml-auto">
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide-center text-center item">
						<div class="row card">
							<div class="col-12">
								<img src="assets/images/team-3.jpg" alt="Sarah Lopez" class="person">
								<h4>Sarah Lopez</h4>
								<p>I'm loving the partnership. The support deserves 5 stars.</p>
								<ul class="navbar-nav social share-list ml-auto">
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide-center text-center item">
						<div class="row card">
							<div class="col-12">
								<img src="assets/images/team-4.jpg" alt="Joseph Hills" class="person">
								<h4>Joseph Hills</h4>
								<p>My app was perfect. I will request more services soon.</p>
								<ul class="navbar-nav social share-list ml-auto">
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide slide-center text-center item">
						<div class="row card">
							<div class="col-12">
								<img src="assets/images/team-5.jpg" alt="Karen Usman" class="person">
								<h4>Karen Usman</h4>
								<p>I had small problems with the payment, but it was resolved.</p>
								<ul class="navbar-nav social share-list ml-auto">
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link"><i class="icon-star ml-2 mr-2"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</section>