<section id="{{ sect.name }}" class="section-7 even carousel custom featured">
	<div class="overflow-holder">
		<div class="container">
			<div class="row text-center intro">
				<div class="col-12">
					<h2 class="super effect-static-text">{{ sect.title }}</h2>
					<p class="text-max-800">Learning is a part of my life now and i enjoy learning new skills and sharpen them along with geting certified with them. Here is little collection of my achievements and certifications. </p>
				</div>
			</div>
			<div class="row justify-content-center text-center items">
				<div class="col-12 col-md-6 col-lg-4 item">
					<div class="card featured">
						<i class="icon icon-check"></i>
						<h4>Professional UX & UI</h4>
						<p>Professional User Experience and User Interface review.</p>
					</div>
				</div>
				{% for ach in site.data.index.achieve %}
					<div class="col-12 col-md-6 col-lg-4 item">
						<div class="card">
							<i class="icon icon-check"></i>
							<h4>{{ ach.name }}</h4>
							<p>{{ ach.des }}</p>
						</div>
					</div>
				{% endfor %}
				<div class="col-12 col-md-6 col-lg-4 item">
					<div class="card featured">
						<i class="icon icon-check"></i>
						<h4>Unique Design</h4>
						<p>Enjoy a unique design and impress visitors with something beautiful.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
