<section id="{{ sect.name }}" class="section-5 even showcase portfolio blog-grid filter-section featured">
	<div class="overflow-holder">
		<div class="container full-grid">
			<div class="row text-center intro">
				<div class="col-12">
					<h2 class="super effective-static-text">{{ sect.title }}</h2>
					<p class="text-max-800"><strong>Coming Soon</strong>.<br></p>
				</div>
			</div>
			<!--
			<div class="row justify-content-center text-center">
				<div class="col-12">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						{% for button in site.data.index.buttons %}
							{% if button.name =="All" %}<label class="btn active">
								<input type="radio" value="all" checked class="btn-filter-item">
							{% else %}
								<label class="btn">
									<input type="radio" value="{{ button.value }}" class="btn-filter-item">
								{% endif %}
								<span>{{ button.name }}</span>
							</label>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row items filter-items">
				{% for post in site.posts %}
					{% if post.status == "pub" %}
						{%for cat in post.categories%}<div class="col-12 col-md-6 col-lg-3 item filter-item" data-groups= '["{{cat}}",]'>
						{% endfor %}
						<div class="row card p-0 text-center">
							<div class="gallery">
								<a href="{{ post.url }}" class="image-over">
									<img src="/assets/images/{{ post.image }}" alt="{{post.title}}"/>
								</a>
							</div>
							<div class="card-caption col-12 p-0">
								<div class="card-body">
									<h4 class="m-0">{{ post.title }}</h4>
								</div>
								<div class="card-footer d-lg-flex align-items-center justify-content-center">
									<p>{{ post.excerpt }}</p>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				-->
				
			</div>
			<div class="col-1 filter-sizer"></div>
		</div>
	</section>