<section id="{{ sect.name }}" class="section-9 even form featured all">
	<div class="container">
		<div class="row text-center intro">
			<div class="col-12">
				<h2 class="mb-0 super effect-static-text">{{ sect.title }}</h2>
			</div>
		</div>
		<form action="https://leverage.codings.dev/php/form.php" id="leverage-simple-form" class="leverage-simple-form">
			<input type="hidden" name="section" value="leverage_form">
			<input type="hidden" name="reCAPTCHA">
			<!-- Remove this field if you want to disable recaptcha -->
			<div class="row form-group-margin">
				<div class="col-12 col-md-6 m-0 p-2 input-group">
					<input type="text" name="name" class="form-control field-name" placeholder="Name">
				</div>
				<div class="col-12 col-md-6 m-0 p-2 input-group">
					<input type="email" name="email" class="form-control field-email" placeholder="Email">
				</div>
				<div class="col-12 col-md-6 m-0 p-2 input-group">
					<input type="text" name="phone" class="form-control field-phone" placeholder="Phone">
				</div>
				<div class="col-12 m-0 p-2 input-group">
					<textarea name="message" class="form-control field-message" placeholder="Message"></textarea>
				</div>
				<div class="col-12 col-12 m-0 pl-md-2">
					<span class="form-alert"></span>
				</div>
				<div class="col-12 input-group m-0 p-2">
					<a class="btn primary-button">SEND</a>
				</div>
			</div>
		</form>
	</div>
</section>