<section id="{{ sect.name }}" class="section-8 odd offers featured all">
	<div class="container">
		<div class="row text-center intro">
			<div class="col-12">
				<h2 class="super effect-static-text">{{ sect.title }}</h2>
				<p class="text-max-800">We see all types of projects as if they were ours. This brings us closer to our clients' projects bringing much more confidence and commitment.</p>
			</div>
		</div>
		<div class="row justify-content-center text-center items">
			<div class="col-12 col-md-6 col-lg-4 item">
				<div class="card no-hover">
					<i class="icon icon-globe"></i>
					<h4>Website Pro</h4>
					<p>We build professional responsive websites optimized for the most popular search engines.</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 item">
				<div class="card no-hover">
					<i class="icon icon-basket"></i>
					<h4>E-Commerce</h4>
					<p>Increase your sales with an incredible online store, full of features and functionality.</p>
				</div>
			</div>
		</div>
	</div>
</div>
</section>