<section id="slider" class="hero p-0">
	<div class="swiper-container no-slider animation slider-h-100">
		<div class="swiper-wrapper">
			<!-- Item 1 -->
			<div class="swiper-slide slide-center">
			<video type="video/mp4" class="full-image" data-mask="50" src="assets/videos/colors.mp4" autoplay muted></video>
			
			<div class="slide-content row">
				<div class="col-12 d-flex justify-content-end inner">
					<div class="right text-center text-md-left">
						<h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">Aviral Srivastava<br> Pen. Tester<br>CSA</h1>
						<div class="d-sm-inline-flex mt-3">
							<a href="#contact" data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor ml-auto mr-auto mr-md-0 mt-4 mt-sm-0 btn primary-button"><i class="icon-cup"></i>GET STARTED</a>
						</div>
					</div>
					</	div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>