<div id="search" class="p-0 modal fade" role="dialog" aria-labelledby="search" aria-hidden="true">
	<div class="modal-dialog modal-dialog-slideout" role="document">
		<div class="modal-content full">
			<div class="modal-header" data-dismiss="modal">
				Search <i class="icon-close"></i>
			</div>
			<div class="modal-body">
				<form class="row">
					<div class="col-12 p-0 align-self-center">
						<div class="row">
							<div class="col-12 p-0 pb-3">
								<h2>What are you looking for?</h2>
								<p>Search for services and news about the best that happens in the world.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-12 p-0 input-group">
								<input type="text" class="form-control" placeholder="Enter Keywords">
							</div>
						</div>
						<div class="row">
							<div class="col-12 p-0 input-group align-self-center">
								<button class="btn primary-button"><i class="icon-magnifier"></i>SEARCH</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Modal [sign] -->
<div id="sign" class="p-0 modal fade" role="dialog" aria-labelledby="sign" aria-hidden="true">
	<div class="modal-dialog modal-dialog-slideout" role="document">
		<div class="modal-content full">
			<div class="modal-header" data-dismiss="modal">
				Sign In Form <i class="icon-close"></i>
			</div>
			<div class="modal-body">
				<form action="#" class="row">
					<div class="col-12 p-0 align-self-center">
						<div class="row">
							<div class="col-12 p-0 pb-3">
								<h2>Sign In</h2>
								<p>Don't have an account? <a href="#" class="primary-color" data-toggle="modal" data-target="#register">Register now</a>.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-12 p-0 input-group">
								<input type="email" class="form-control" placeholder="Email" required>
							</div>
							<div class="col-12 p-0 input-group">
								<input type="password" class="form-control" placeholder="Password" required>
							</div>
						</div>
						<div class="row">
							<div class="col-12 p-0 input-group align-self-center">
								<button class="btn primary-button"><i class="icon-login"></i>LOGIN</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Modal [register] -->
<div id="register" class="p-0 modal fade" role="dialog" aria-labelledby="register" aria-hidden="true">
	<div class="modal-dialog modal-dialog-slideout" role="document">
		<div class="modal-content full">
			<div class="modal-header" data-dismiss="modal">
				Register Form <i class="icon-close"></i>
			</div>
			<div class="modal-body">
				<form action="#" class="row">
					<div class="col-12 p-0 align-self-center">
						<div class="row">
							<div class="col-12 p-0 pb-3">
								<h2>Register</h2>
								<p>Have an account? <a href="#" class="primary-color" data-toggle="modal" data-target="#sign">Sign In</a>.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-12 p-0 input-group">
								<input type="text" class="form-control" placeholder="Name" required>
							</div>
							<div class="col-12 p-0 input-group">
								<input type="email" class="form-control" placeholder="Email" required>
							</div>
							<div class="col-12 p-0 input-group">
								<input type="password" class="form-control" placeholder="Password" required>
							</div>
							<div class="col-12 p-0 input-group">
								<input type="password" class="form-control" placeholder="Confirm Password" required>
							</div>
						</div>
						<div class="row">
							<div class="col-12 p-0 input-group align-self-center">
								<button class="btn primary-button"><i class="icon-rocket"></i>REGISTER</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Modal [responsive menu] -->
<div id="menu" class="p-0 modal fade" role="dialog" aria-labelledby="menu" aria-hidden="true">
	<div class="modal-dialog modal-dialog-slideout" role="document">
		<div class="modal-content full">
			<div class="modal-header" data-dismiss="modal">
				Menu <i class="icon-close"></i>
			</div>
			<div class="menu modal-body">
				<div class="row w-100">
					<div class="items p-0 col-12 text-center">
						<!-- Append [navbar] -->
					</div>
					<div class="contacts p-0 col-12 text-center">
						<!-- Append [navbar] -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Scroll [to top] -->
<div id="scroll-to-top" class="scroll-to-top">
	<a href="#header" class="smooth-anchor">
		<i class="icon-arrow-up"></i>
	</a>
</div>