<ul class="navbar-nav items">
	<li class="nav-item dropdown">
		<a href="#" class="nav-link">Home </a>
	</li>
	<li class="nav-item dropdown">
		<a href="#about" class="nav-link">About <i class="icon-arrow-down"></i></a>
		<ul class="dropdown-menu">
			<li class="nav-item dropdown">
				<a class="nav-link" href="#">Skills</a>
			</li>
			<li class="nav-item"><a href="page-services-1.html" class="nav-link">Experience</a></li>
			<li class="nav-item"><a href="page-services-1.html" class="nav-link">Projects</a></li>
			<li class="nav-item"><a href="page-single-service-1.html" class="nav-link">Certifications</a></li>
		</ul>
	</li>
	<li class="nav-item dropdown">
		<a href="#" class="nav-link">Blog <i class="icon-arrow-down"></i></a>
		<ul class="dropdown-menu">
			<li class="nav-item dropdown">
				<a class="nav-link" href="#projects">Projects</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" href="#blogindex">Blog</a>
			</li>
		</ul>
	</li>
</ul>
<!-- Navbar Icons -->
<ul class="navbar-nav icons">
	<li class="nav-item">
		<a href="#" class="nav-link" data-toggle="modal" data-target="#search">
			<i class="icon-magnifier"></i>
		</a>
	</li>
	<li class="nav-item social">
		<a href="#" class="nav-link"><i class="icon-social-github"></i></a>
	</li>
	<li class="nav-item social">
		<a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
	</li>
</ul>
<!-- Navbar Toggle -->
<ul class="navbar-nav toggle">
	<li class="nav-item">
		<a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
			<i class="icon-menu m-0"></i>
		</a>
	</li>
</ul>
<!-- Navbar Action -->
<ul class="navbar-nav action">
	<li class="nav-item ml-3">
		<a href="#contact" class="smooth-anchor btn ml-lg-auto primary-button"><i class="icon-rocket"></i>CONTACT ME</a>
	</li>
</ul>