<section id="portfolio-grid" class="section-3 showcase portfolio blog-grid filter-section">
	<div class="overflow-holder">
		<div class="container">
			<div class="row text-center intro">
				<div class="col-12">
					<h2 class="mb-0 super effect-static-text">What We Do</h2>
				</div>
			</div>
			<div class="row justify-content-center text-center">
				<div class="col-12">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn active">
							<input type="radio" value="all" checked class="btn-filter-item">
							<span>All</span>
						</label>
						<label class="btn">
							<input type="radio" value="design-thinking" class="btn-filter-item">
							<span>Design Thinking</span>
						</label>
						<label class="btn">
							<input type="radio" value="branding" class="btn-filter-item">
							<span>Branding</span>
						</label>
						<label class="btn">
							<input type="radio" value="photography" class="btn-filter-item">
							<span>Photography</span>
						</label>
						<label class="btn">
							<input type="radio" value="digital-marketing" class="btn-filter-item">
							<span>Digital Marketing</span>
						</label>
						<label class="btn">
							<input type="radio" value="technology" class="btn-filter-item">
							<span>Technology</span>
						</label>
					</div>
				</div>
			</div>
			
			<div class="row items filter-items">
				<div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["technology","digital-marketing","photography"]'>
					<div class="row card p-0 text-center">
						<div class="gallery">
							<a href="assets/images/news-1-h.jpg" class="image-over">
								<img src="assets/images/news-1-h.jpg" alt="Lorem ipsum">
							</a>
						</div>
						<div class="card-caption col-12 p-0">
							<div class="card-body">
								<h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
							</div>
							<div class="card-footer d-lg-flex align-items-center justify-content-center">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["technology","branding"]'>
					<div class="row card p-0 text-center">
						<div class="gallery">
							<a href="assets/images/news-2-h.jpg" class="image-over">
								<img src="assets/images/news-2-h.jpg" alt="Lorem ipsum">
							</a>
						</div>
						<div class="card-caption col-12 p-0">
							<div class="card-body">
								<h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
							</div>
							<div class="card-footer d-lg-flex align-items-center justify-content-center">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["technology","digital-marketing"]'>
					<div class="row card p-0 text-center">
						<div class="gallery">
							<a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="image-over">
								<i class="play-video-full icon-control-play"></i>
								<div class="mask-radius-full"></div>
								<img src="assets/images/news-3-h.jpg" alt="Lorem ipsum">
							</a>
						</div>
						<div class="card-caption col-12 p-0">
							<div class="card-body">
								<h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
							</div>
							<div class="card-footer d-lg-flex align-items-center justify-content-center">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["design-thinking","digital-marketing","photography"]'>
					<div class="row card p-0 text-center">
						<div class="gallery">
							<a href="assets/images/news-4-h.jpg" class="image-over">
								<img src="assets/images/news-4-h.jpg" alt="Lorem ipsum">
							</a>
						</div>
						<div class="card-caption col-12 p-0">
							<div class="card-body">
								<h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
							</div>
							<div class="card-footer d-lg-flex align-items-center justify-content-center">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["design-thinking","branding"]'>
					<div class="row card p-0 text-center">
						<div class="gallery">
							<a href="assets/images/news-5-h.jpg" class="image-over">
								<img src="assets/images/news-5-h.jpg" alt="Lorem ipsum">
							</a>
						</div>
						<div class="card-caption col-12 p-0">
							<div class="card-body">
								<h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
							</div>
							<div class="card-footer d-lg-flex align-items-center justify-content-center">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item filter-item" data-groups='["design-thinking","branding","photography"]'>
					<div class="row card p-0 text-center">
						<div class="gallery">
							<a href="assets/images/news-6-h.jpg" class="image-over">
								<img src="assets/images/news-6-h.jpg" alt="Lorem ipsum">
							</a>
						</div>
						<div class="card-caption col-12 p-0">
							<div class="card-body">
								<h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
							</div>
							<div class="card-footer d-lg-flex align-items-center justify-content-center">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-1 filter-sizer"></div>
			</div>
		</div>
	</div>
</section>