<section id="{{ sect.name }}" class="section-4 odd offers custom ">
	<div class="overflow-holder">
		<div class="container">
			<div class="row text-center intro">
				<div class="col-12 align-self-center text-center">
					<h2 class="super effect-static-text">
					{{ sect.title }}
					</h2>
					<p class="text-max-800">Leverage has a lot of ready-made content that you can <strong>easily publish</strong>.<br>If you are looking for something that will shorten your working time, you have just found it.</p>
				</div>
			</div>
			<div class="row justify-content-center text-center items">
				<div class="col-12 col-md-6 col-lg-4 item">
					<div class="card featured">
						<i class="icon icon-speedometer"></i>
						<h4>Professional UX & UI</h4>
						<p>Professional User Experience and User Interface review.</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item">
					<div class="card">
						<i class="icon icon-screen-smartphone"></i>
						<h4>Perfect Responsive</h4>
						<p>Works perfectly on all screen sizes. Documented and ready to use.</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item">
					<div class="card">
						<i class="icon icon-list"></i>
						<h4>Nice Typography</h4>
						<p>All elements have adequate sizes without breaking the layout.</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item">
					<div class="card">
						<i class="icon icon-speech"></i>
						<h4>Multi-Step Form</h4>
						<p>With a multi-step form, visitors feel more willing to submit a request.</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item">
					<div class="card">
						<i class="icon icon-check"></i>
						<h4>Form Validation</h4>
						<p>With PHP Ready to Use. You just need to set where to send it.</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item">
					<div class="card">
						<i class="icon icon-user"></i>
						<h4>User Login Forms</h4>
						<p>If you are building a platform that needs this functionality.</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item">
					<div class="card">
						<i class="icon icon-wallet"></i>
						<h4>Plans ans Pricing</h4>
						<p>For companies that offer services and charge monthly fees.</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item">
					<div class="card">
						<i class="icon icon-picture"></i>
						<h4>Incredible Carousel</h4>
						<p>Display anything with a stunning design. Your customer will love it.</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 item">
					<div class="card featured">
						<i class="icon icon-fire"></i>
						<h4>Unique Design</h4>
						<p>Enjoy a unique design and impress visitors with something beautiful.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>