<section id="{{ sect.name }}" class="section-2 odd counter skills featured">
	<div class="container">
		<div class="row text-center intro">
			<div class="col-12">
				<h2 class="super effect-static-text">{{ sect.title }}</h2>
				<p class="text-max-800">We see all types of projects as if they were ours. This brings us closer to our clients' projects bringing much more confidence and commitment.</p>
			</div>
		</div>
		<div data-aos-id="counter" data-aos="fade-up" data-aos-delay="200" class="row justify-content-center text-center items">
			<div class="col-12 col-md-6 col-lg-3 item">
				<div data-percent="90" class="radial">
					<span></span>
				</div>
				<h4>VAPT</h4>
			</div>
			<div class="col-12 col-md-6 col-lg-3 item">
				<div data-percent="70" class="radial">
					<span></span>
				</div>
				<h4>Network Security</h4>
			</div>
			<div class="col-12 col-md-6 col-lg-3 item">
				<div data-percent="84" class="radial">
					<span></span>
				</div>
				<h4>Incident Response</h4>
			</div>
			<div class="col-12 col-md-6 col-lg-3 item">
				<div data-percent="80" class="radial">
					<span></span>
				</div>
				<h4>Programming</h4>
			</div>
			<div class="col-12 col-md-6 col-lg-3 item">
				<div data-percent="80" class="radial">
					<span></span>
				</div>
				<h4>Python</h4>
			</div>
			<div class="col-12 col-md-6 col-lg-3 item">
				<div data-percent="80" class="radial">
					<span></span>
				</div>
				<h4>Programming</h4>
			</div>
		</div>
	</div>
</section>