<link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/vendor/slider.min.css">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/vendor/icons.min.css">
<link rel="stylesheet" href="assets/css/vendor/animation.min.css">
<link rel="stylesheet" href="assets/css/vendor/gallery.min.css">
<link rel="stylesheet" href="assets/css/vendor/cookie-notice.min.css">
<link rel="stylesheet" href="assets/css/default.css">
<link rel="stylesheet" href="assets/css/theme-indigo.css">
<style>
:root {
--header-bg-color: #111111;
--nav-item-color: #f5f5f5;
--top-nav-item-color: #f5f5f5;
--hero-bg-color: #000000;
--section-1-bg-color: #e5e5e5;
--section-2-bg-color: #111111;
--section-3-bg-color: #e5e5e5;
--section-4-bg-color: #111111;
--section-5-bg-color: #e5e5e5;
--section-6-bg-color: #111111;
--section-7-bg-color: #e5e5e5;
--section-8-bg-color: #111111;
--section-9-bg-color: #e5e5e5;
--section-10-bg-color: #111111;
--footer-bg-color: #191919;
}
</style>